.button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  background-color: $bg-basic-green;
  color: $button-text-color;
  text-transform: uppercase;
}
