.card-list {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  @media (min-width: $mobile-width) {
    width: 320px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 44px 60px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 47px 80px;
    width: 1220px;
  }
}
