.catalog-option {
  box-sizing: border-box;
}

.catalog-option__title {
  font-family: "oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  position: relative;
  display: flex;

  @media (min-width: $mobile-width) {
    text-align: left;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 34px;
    margin: 0;
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    border: none;
    margin: 0;
    margin-bottom: 42px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 44px;
    gap: 40px;
  }
}

.catalog-option__title::before {
  content: "";
  background-color: #68b738;
  height: 2px;
  display: block;

  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    width: calc(50% - 600px / 2 - 54px);
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    width: calc(50% - 600px / 2 - 350px);
    margin-top: 20px;
  }
}

.catalog-option__title::after {
  content: "";
  background-color: #68b738;
  height: 2px;

  @media (min-width: $mobile-width) {
    min-width: calc(50% - 600px / 2 - 20px);
    flex-grow: 1;
    display: block;
    width: 35px;
    position: absolute;
    right: 0;
    top: 8px;
  }

  @media (min-width: $tablet-width) {
    min-width: calc(50% - 600px / 2 - 30px);
    flex-grow: 1;
    position: static;
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    min-width: calc(50% - 600px / 2 - 110px);
    flex-grow: 1;
    margin-top: 20px;
  }
}
