.catalog-container__product-cards {
  box-sizing: border-box;

  @media (min-width: $mobile-width) {
    width: 100%;
    margin-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
    margin-bottom: 71px;
  }
}

.catalog-container__title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  @media (min-width: $mobile-width) {
    margin: 25px 0 40px 20px;
  }

  @media (min-width: $tablet-width) {
    margin: 52px 0 65px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 75px;
    margin-bottom: 67px;
  }
}
