.explanation__title{
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.explanation__description{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $base-color-text;
}
