.footer {
  box-sizing: border-box;
  background-color: #f2f2f2;

  @media (min-width: $mobile-width) {
    padding: 40px 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
    width: 1440px;
    margin: 0 auto;
  }
}

.footer__logo {
  @media (min-width: $mobile-width) {
    display: block;
    width: 128px;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 7px;
  }
}

.footer__logo::after {
  @media (min-width: $mobile-width) {
    content: "";
    background-color: #d9d9d9;
    width: 280px;
    height: 1px;
    margin: 15px;
    display: block;
    position: absolute;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer__social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  height: 22px;

  @media (min-width: $mobile-width) {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 6px 0 0 37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.footer__logo-cat:hover {
  opacity: 90%;
}

.footer__logo-cat:active {
  opacity: 50%;
}
