.footer {
  position: absolute;
  box-sizing: border-box;
  background-color: #f2f2f2;
  min-width: 100%;

  @media (min-width: $mobile-width) {
    padding: 40px 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.footer-logo {
  @media (min-width: $mobile-width) {
    display: block;
    width: 128px;
    height: 24px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 7px;
  }
}

.footer-logo::after {
  @media (min-width: $mobile-width) {
    content: "";
    background-color: #d9d9d9;
    width: 280px;
    height: 1px;
    margin: 15px;
    display: block;
    position: absolute;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer__social::after {
  @media (min-width: $mobile-width) {
    content: "";
    background-color: #d9d9d9;
    width: 280px;
    height: 1px;
    margin: 20px;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
  height: 22px;

  @media (min-width: $mobile-width) {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 6px 0 0 37px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.vkontakte-link {
  mask-image: url("../../icons/stack.svg#vkontakte");
  left: 94px;
  width: 28px;
  height: 22px;
  display: block;
  background-color: #666666;
  mask-repeat: no-repeat;
}

.youtube-link {
  mask-image: url("../../icons/stack.svg#youtube");
  left: 146px;
  width: 28px;
  height: 22px;
  display: block;
  background-color: #666666;
  mask-repeat: no-repeat;
}

.telegram-link {
  mask-image: url("../../icons/stack.svg#telegram");
  left: 198px;
  width: 28px;
  height: 22px;
  display: block;
  background-color: #666666;
  mask-repeat: no-repeat;
}

.social-link:hover {
  background-color: #68b738;
}

.social-link:focus {
  background-color: #68b738;
}

.social-link:active {
  opacity: 30%;
  background-color: #68b738;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 162px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
  }
}

.copyright__link {
  font-family: "lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: $base-color-text;
}

.copyright__link:active {
  opacity: 30%;
}

.copyright__link-html {
  mask-image: url("../../icons/stack.svg#html-logo");
  width: 27px;
  height: 34px;
  display: block;
  background-color: #666666;
}

.copyright__link-html:hover {
  background-color: #68b738;
}

.copyright__link-html:focus {
  background-color: #68b738;
}

.copyright__link-html:active {
  opacity: 30%;
  background-color: #68b738;
}

.footer-logo__cat:hover {
  opacity: 90%;
}

.footer-logo__cat:active {
  opacity: 50%;
}
