.hero__part {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $mobile-width) {
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0;
    align-items: start;
  }
}

.hero {
  font-family: "oswald", sans-serif;
  color: #ffffff;
  box-sizing: border-box;

  @media (min-width: $mobile-width) {
    width: 100%;
    min-height: 480px;
    align-items: center;
    padding-bottom: 19px;
  }

  @media (min-width: $tablet-width) {
    min-height: 837px;
    color: #000000;
    width: 768px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 580px;
    color: #000000;
    width: 100%;
    margin-bottom: 43px;
  }
}

.hero__image {
  display: block;
}

.hero-image {
  @media (min-width: $mobile-width) {
    width: 280px;
    min-height: 270px;
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: 709px;
    min-height: 609px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    min-height: 499px;
    position: absolute;
    top: -10px;
    left: 555px;
  }
}

.hero::before {
  @media (min-width: $mobile-width) {
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    height: 302px;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    position: absolute;
    z-index: -1;
    height: 694px;
    width: 50%;
    top: 0;
    right: 0;
  }
}

.hero__subtitle {
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $mobile-width) {
    margin: 0;
    margin-bottom: 29px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    width: 290px;
    margin-left: -237px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
  }
}

.hero__button {
  @media (min-width: $mobile-width) {
    width: 280px;
    height: 40px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    min-height: 54px;
    position: absolute;
    top: 257px;
    left: 120px;
  }

  @media (min-width: $desktop-width) {
    left: 190px;
    top: 303px;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $mobile-width) {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 28px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 40px;
    margin-left: -110px;
    width: 420px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: 420px;
    padding: 0;
    margin-left: 189px;
    margin-top: 51px;
  }
}
