.index-card__title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.index-card__data {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.index-card {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 2px;
  }
}

.index-card:nth-child(3) {
  @media (min-width: $desktop-width) {
    padding-bottom: 9px;
  }
}

.index-card:nth-child(1),
.index-card:nth-child(2) {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }
}
