.index-card__title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.index-card__data {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
