.location__title {
  font-family: "oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $mobile-width) {
    width: 140px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.location__address {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;

  @media (min-width: $mobile-width) {
    width: 140px;
  }

  @media (min-width: $tablet-width) {
    width: 157px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.location__gteeting {
  @media (min-width: $mobile-width) {
    width: 280px;
    padding: 26px 20px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    width: 628px;
    padding: 61px 30px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    position: absolute;
    background-color: #ffffff;
    padding: 61px 79px 60px;
    box-sizing: border-box;
    margin: 0;
    margin-left: 110px;
    margin-top: 95px;
    right: 53%;
  }
}

.catalog-location .location__gteeting {
  @media (min-width: $tablet-width) {
    padding: 61px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 78px;
  }
}

.location__city {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    padding: 0;
  }
}

.location__building {
  @media (min-width: $mobile-width) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.location__catalog {
  margin: 0;
  padding: 0;

  @media (min-width: $mobile-width) {
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
  }
}

.location__image {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 402px;
  }

  @media (min-width: $desktop-width) {
    min-height: 398px;
  }
}
