.nav__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;

  @media (min-width: $mobile-width) {
    width: 190px;
  }
}

.nav__logo-image {
  display: block;
}

.catalog-header .nav__link {
  color: #111111;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.nav__link:hover {
  opacity: 60%;
}

.nav__link:active {
  opacity: 30%;
}

.nav--opened .nav__toggle {
  top: 0;
  left: auto;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    height: 2px;
    width: 24px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $mobile-width) {
  .nav--closed .nav-list__item {
    display: none;
  }

  .nav--opened .nav-list__item {
    display: block;
  }
}

.nav__sign {
  @media (min-width: $mobile-width) {
    margin-left: 56px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.nav {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 12px 33px 0 10px;
    margin: 0;
    min-height: 50px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
    min-height: 59px;
    box-sizing: border-box;
    justify-content: space-between;
    width: 1220px;
    margin: 51px auto 40px;
  }
}

.nav__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  display: block;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 2px;
  width: 24px;
  top: 23px;
  right: 22px;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.nav__head {
  @media (min-width: $mobile-width) {
    padding: 12px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.nav__logo:hover {
  opacity: 80%;
}

.nav__logo:active {
  opacity: 60%;
}
