.option-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $mobile-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 96px;
  }
}

.option-list__title {
  font-family: "oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $mobile-width) {
    margin: 0;
    margin-bottom: 13px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 165px;
  }
}

.option-list__item {
  @media (min-width: $mobile-width) {
    display: grid;
    grid-template-rows: repeat (3, auto);
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 19px;
    padding-top: 12px;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    padding: 24px 39px 25px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
}

.option-list__item:nth-last-child(1) {
  border-bottom: 1px solid #cdcdcd;
}

.option-list__button {
  cursor: pointer;

  @media (min-width: $mobile-width) {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.option-list__button:hover {
  background-color: #5eaa2f;
}

.option-list__button:active {
  background-color: #5eaa2f;
  opacity: 30%;
}

.option-list__add {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $base-color-text;
  text-align: center;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 330px;
    margin-top: 6px;
    justify-content: right;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
  }
}

.option-list__info {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-items: center;
    margin-right: 42px;
    width: 652px;
  }
}

.option-list__price,
.option-list__amount {
  margin: 0;

  @media (min-width: $mobile-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}

.option-list__amount {
  @media (min-width: $tablet-width) {
    width: 200px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.option-list__price {
  @media (min-width: $tablet-width) {
    margin-left: 42px;
    text-align: right;
    width: 50px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: 80px;
  }
}
