.main-container__options {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
}

.options__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  display: block;
  position: relative;
  left: 80px;
}

.options__title::before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: -7px;
  left: -70px;
}

.options__title-weight-loss::before {
  background-image: url("../../icons/stack.svg#cat-back-sit");
  width: 50px;
  height: 53px;
}

.options__title-weight-gain::before {
  background-image: url("../../icons/stack.svg#cat-back-go");
  width: 67px;
  height: 50px;
}

.options__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.options__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
