.page__body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;

  @media (min-width: $mobile-width) {
    padding: 0;
  }
}

.page {
  box-sizing: border-box;
  height: 100%;
}

picture {
  display: contents;
}
