.show-more {
  box-sizing: border-box;
  text-align: center;

  @media (min-width: $mobile-width) {
    width: 320px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 0;
    margin-top: 99px;
    border: 2px solid #ebebeb;
    padding: 0 37px 15px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.show-more__title {
  font-family: "oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 0;

  @media (min-width: $mobile-width) {
    margin-top: 79px;
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-width) {
    width: 135px;
    margin: 148px auto 25px;
    font-size: 20px;
    line-height: 24px;
  }
}

.show-more__title::before {
  content: "";
  background-image: url("../../icons/stack.svg#plus");
  position: absolute;

  @media (min-width: $mobile-width) {
    width: 30px;
    height: 30px;
    left: 125px;
    top: -52px;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    left: 39px;
    top: -100px;
  }
}

.show-more__description {
  font-family: "lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: $base-color-text;
  margin: 0;

  @media (min-width: $mobile-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 auto 91px;
  }
}

.show-more__button {
  background-color: #f2f2f2;
  color: #444444;
  font-family: "oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;

  @media (min-width: $mobile-width) {
    width: 280px;
    min-height: 40px;
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.show-more__button:hover {
  background-color: #ebebeb;
}

.show-more__button:active {
  background-color: #ebebeb;
}
