.stats {
  box-sizing: border-box;

  @media (min-width: $mobile-width) {
    background-color: #eaeaea;
    padding: 25px 20px 40px;
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 577px, #eaeaea 577px);
    padding: 0 30px 100px;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(#ffffff 135px, #eaeaea 135px);
    padding: 0 110px 66px;
    margin: 0;
    position: relative;
  }
}

.stats__image {
  object-fit: cover;
  height: auto;
  display: block;

  @media (min-width: $mobile-width) {
    width: 280px;
  }

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.stats__title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin: 0;

  @media (min-width: $mobile-width) {
    text-align: left;
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.stats__story {
  font-family: "lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $base-color-text;

  @media (min-width: $mobile-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 432px;
    margin-bottom: 69px;
  }
}

.stats__number {
  font-family: "oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $mobile-width) {
    width: 82px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 102px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    color: #000000;
  }
}

.stats__count {
  font-family: "oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;

  @media (min-width: $mobile-width) {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}

.stats__list {
  @media (min-width: $mobile-width) {
    display: flex;
    margin: 0;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 366px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.stats__item {
  @media (min-width: $mobile-width) {
    width: 124px;
    border: 1px solid #cdcdcd;
    border-radius: 4%;
    position: relative;
    padding: 15px 20px;
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    border: 1px solid #e6e6e6;
    padding: 15px 29px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2%;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    position: relative;
    padding: 15px 30px;
  }
}

.stats__description {
  font-family: "lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  margin: 0;

  @media (min-width: $mobile-width) {
    width: 77px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    background-color: #eaeaea;
    top: 47px;
    right: 20px;
    margin-bottom: 20px;
    padding: 0 4px;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 125px;
    position: absolute;
    background-color: #ffffff;
    padding: 0 5px;
    top: 63px;
    right: 12px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
    position: absolute;
  }
}

.stats__example {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
  }
}

.cost {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;

  @media (min-width: $mobile-width) {
    margin-right: 5px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-right: 1px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.price {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.stats__compare {
  display: flex;

  @media (min-width: $mobile-width) {
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 106px;
    width: 580px;
  }
}

.stats__compare picture {
  flex-grow: 0;
  overflow: hidden;
  width: 50%;
  position: relative;
}

.fat-cat {
  object-position: left;
}

.slim-cat {
  position: absolute;
  right: 0;
}

.description-weight {
  @media (min-width: $tablet-width) {
    width: 96px;
    right: 28px;
  }
}

.compare-button {
  background-color: #666666;
  border: none;
  position: absolute;
  cursor: pointer;

  @media (min-width: $mobile-width) {
    width: 4px;
    height: 256px;
    border-radius: 2px;
    left: 49%;
  }

  @media (min-width: $tablet-width) {
    height: 512px;
    left: 50%;
  }

  @media (min-width: $desktop-width) {
    left: 292px;
    top: 3px;
  }
}

.compare-button:hover {
  background-color: #68b738;
  color: #68b738;
}

.compare-button::after {
  content: "";
  background-image: url("../../icons/stack.svg#thumb");

  @media (min-width: $mobile-width) {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 42%;
    left: -18px;
  }

  @media (min-width: $tablet-width) {
    top: 46%;
  }
}
