.subscribe {
  box-sizing: border-box;
  position: relative;

  @media (min-width: $mobile-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}

.subscribe__title {
  font-family: "oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  display: flex;

  @media (min-width: $mobile-width) {
    text-align: left;
    margin-bottom: 31px;
    margin-left: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 66px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-left: 0;
    margin-bottom: 72px;
  }
}

.subscribe__title::before {
  content: "";
  background-color: #68b738;
  height: 2px;
  display: block;

  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    width: calc(50% - 600px / 2 - 54px);
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    width: calc(50% - 600px / 2 - 350px);
    margin-top: 20px;
  }
}

.subscribe__title::after {
  content: "";
  background-color: #68b738;
  height: 2px;

  @media (min-width: $mobile-width) {
    min-width: calc(50% - 600px / 2 - 20px);
    flex-grow: 1;
    display: block;
    width: 108px;
    position: absolute;
    right: 0;
    top: 8px;
  }

  @media (min-width: $tablet-width) {
    min-width: calc(50% - 600px / 2 - 30px);
    flex-grow: 1;
    position: static;
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    min-width: calc(50% - 600px / 2 - 110px);
    flex-grow: 1;
    margin-top: 20px;
  }
}

.subscribe__description {
  font-family: "oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin: 0;

  @media (min-width: $mobile-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    width: 632px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    text-align: center;
  }
}

.subscribe__form {
  font-family: "oswald", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 632px;
    height: 56px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
  }
}

.subscribe__input {
  cursor: pointer;

  @media (min-width: $mobile-width) {
    width: 280px;
    height: 56px;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) {
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscribe__input:hover {
  border-color: #cdcdcd;
}

.subscribe__input:active {
  border-color: #444444;
}

.subscribe__button {
  cursor: pointer;

  @media (min-width: $mobile-width) {
    width: 280px;
    height: 56px;
    font-size: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}

.subscribe__button:hover {
  background-color: #5eaa2f;
}

.subscribe__button:active {
  background-color: #5eaa2f;
  opacity: 30%;
}

.subscribe__block {
  @media (min-width: $mobile-width) {
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
